html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    color: #212125;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
}

p,
span,
blockquote,
cite {
    color: $color-midgray;
}

img {
    vertical-align: middle;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    @media (min-width: 400px) {
        width: 85%;
        padding: 0;
    }

    @media (min-width: 550px) {
        width: 80%;
    }
}

.txt-white {
    color: #fff;
}


@mixin tablet {
    @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$md}) {
        @content;
    }
}

.skip-link {
    display: none;
}